<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the killer side hustle</title>
    <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>
    <div id="header">
        <a style="text-decoration:none" href="../index.html">
        <h4>dynalink.app</h4>
        </a>
    </div>

    <div id="navbar">
        <ul>
        <li><a href="">Step 1</a></li>
        <li><a href="step2.html">Step 2</a></li>
        <li><a href="step3.html">Step 3</a></li>
        <li><a href="step4.html">Step 4</a></li>
        </ul>
    </div>

    <div class="main">
        <h1>Step 1</h1>
        <p>This is a website if you are a beginner to the consulting world. Here is where we do the 
            the research for you. We also ask you the right kind of questions for you to find the
            right kind of project. We tailor all of this for you within seconds. Doesn't matter if you
            are a small business owner who wants to scale your company to heights or you want to join
            your masters degree or if you want to make life style changes. We have the right solution
            for you to make tremendous progress
        </p>
    
        <h1>Getting Started</h1>
        <p>There are just a few points you have to keep in mind before we get started. These questions,
            ideas and suggestions you receive are not to be considered as an absolute solution. you
            would have to take a fair judgement, more research and self assessment to the answers
            you are looking for. 
        </p>
        <p>    
            We wish you great success and finally would love to mention that we are in this
            together. 
        </p>
        </div>



</html>